.voice-homepage {
  width: 100vw;
  height: 100vh;
  background: #F4F6FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.voice-homepage .title {
  padding: 56px 0 43px;
  font-size: 17px;
  text-align: center;
  color: #272727;
  font-weight: 500;
  line-height: 21px;
}

.voice-homepage .status-text {
  font-size: 16px;
  color: #7A7A7A;
  margin-bottom: 40px;
}

.voice-homepage .hang-up-btn {
  position: fixed;
  right: 0;
  bottom: 16px;
  left: 0;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #F54310;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}